<html>
    <head>
        <title>Human Ratings</title>
        <style>
            .prompt.warm:before { content: "What temperature would you feel when touching this surface? 1: ice cold beer bottle. 5: hot sand at the beach." }
            .prompt.hard:before { content: "How soft or hard is this surface? 1: pillow. 5: rock." }
            .prompt.rough:before { content: "How smooth or rough is this surface? 1: glass. 5: sandpaper." }
            .prompt.sticky:before { content: "How slippery or sticky is this surface? This is NOT the same as roughness, nor is it sticky as in glue. This question refers to how much a finger would get stuck while rubbing due to friction with the surface. 1: silk. 5: rubber." }
        </style>
    </head>
    <body>
        <div style="width: 75%; margin: 0px auto" align="center">
            <h2>Welcome to the surface material human rating experiment!</h2>

            <h3>Hello {{ user.name }}! <small>(not {{ user.name }}? <a href="/login">click here</a>)</small></h3>

            <h4>Instructions</h4>

            The image below shows a closeup picture of a surface.

            Use the form to indicate your estimation of its properties if you were to touch it with your finger.

            If the image quality is bad, skip the main form and use the one below.

            <br/>
            <br/>

            <img width="25%" src="/image/{{ surface.date }}/{{ surface.flow }}/{{ surface.number }}"/>

            <br/>
            <br/>

            <form action="/rate" method="POST">
                <input type="hidden" name="date" value="{{ surface.date }}"/>
                <input type="hidden" name="flow" value="{{ surface.flow }}"/>
                <input type="hidden" name="num" value="{{ surface.number }}"/>
                <table>
                    {% for short, _answer in surface.ratings %}
                        <tr>
                            <td colspan=5 class="prompt {{ short }}"></td>
                        </tr>
                        <tr>
                            {% for n in range(start=1, end=6) %}
                                <td>
                                    <input type="radio" name="{{ short }}" id="{{ short }}-{{ n }}" value="{{ n }}"/>
                                    <label for="{{ short }}-{{ n }}">{{ n }}</label>
                                </td>                                                                                                                     
                            {% endfor %}
                        </tr>
                        <tr><td><br/></td></tr>
                    {% endfor %}
                </table>
                <font color="red">{{ rate_error }}</font><br/>
                <input type="submit" value="Submit answers"/>
            </form>
            <hr/>
            <form action="/report" method="POST">
                <input type="hidden" name="date" value="{{ surface.date }}"/>
                <input type="hidden" name="flow" value="{{ surface.flow }}"/>
                <input type="hidden" name="num" value="{{ surface.number }}"/>
                <table>
                    <tr>
                        <td colspan=3>
                            I can't answer the above questions because the image is too:
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="dark" id="dark"/><label for="dark"> Dark</label></td>
                        <td><input type="checkbox" name="bright" id="bright"/><label for="bright"> Bright</label></td>
                        <td><input type="checkbox" name="blurry" id="blurry"/><label for="blurry"> Blurry</label></td>
                        <td><input type="checkbox" name="grainy" id="grainy"/><label for="grainy"> Grainy</label></td>
                    </tr>
                    <tr><td><br/></td></tr>
                </table>
                <font color="red">{{ report_error }}</font><br/>
                <input type="submit" value="Report bad image"/>
            </form>
        </div>
    </body>
</html>


