<html>
    <head>
        <title>Human Ratings</title>
    </head>
    <body>
        <h4>Surfaces</h4>
        <table>
            {% for surface in surfaces %}
                <tr>
                    <td>{{ surface.date }}/{{ surface.flow }}/{{ surface.number }}</td>
                    <td><img src="/image/{{ surface.date }}/{{ surface.flow }}/{{ surface.number }}" width=100 /></td>
                    <td>
                        <table>
                            {% for prompt, answer in surface.ratings %}
                                <tr>
                                    <td>{{ prompt }}</td>
                                    <td>{{ answer }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>
            {{ surfaces | length }} flows scanned in {{ time }}.
        </p>
    </body>
</html>

